.selector {
	position: relative;
	display: flex;
	justify-content: flex-start;

	&.opened {
		.options {
			pointer-events: unset;
			transform: translateY(0);
			opacity: 1;
		}
	}

	select {
		display: none !important;
	}

	.selected-option {
		display: flex;
		padding: 0.75rem 1.5rem;
		background-color: #eaeaea;
		cursor: pointer;
		width: 100%;
	}

	.options {
		position: absolute;
		top: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #eaeaea;
		pointer-events: none;
		opacity: 0;
		transform: translateY(-1rem);
		transition: opacity var(--anim), transform var(--anim);

		.option {
			padding: 0.75rem 1.5rem;
			cursor: pointer;
			transition: background-color var(--anim);

			// to keep the selected item in the list visible, remove this
			&.selected {
				display: none;
			}

			&:hover {
				background-color: whitesmoke;
			}
		}
	}
}