.player-card-container {
	max-width: 300px;
	margin: 0 auto;
	background: white;
}

.player-card-selector {
	&__wrapper {
		padding: 1rem 1rem 0;
	}
}

.player-card {
	$self: &;
	$card-gutter: 1rem;

	max-width: 300px;
	margin: 0 auto;

	&__selector {
		padding: $card-gutter;
		background-color: white;
	}

	&__header {
		background-color: white;
		padding: 2rem $card-gutter 0;

		img {
			margin-bottom: -5px;
			max-width: 200px;
			min-height: 150px;
			max-height: 150px;
		}
	}

	&__details {
		position: relative;

		#{ $self }__image {
			display: block;
			position: absolute;
			top: -2rem;
			right: 1rem;
			border-radius: 100%;
		}

		background-color: #e90052;
		padding: $card-gutter;

		.player-card-headings {
			display: flex;
			flex-direction: column;
			gap: 5px;

			padding-right: 6.5rem;

			#{ $self }__heading,
			#{ $self }__subtitle {
				margin: 0;
				color: white;
			}

			#{ $self }__heading {
				font-size: 1.25rem;
			}

			#{ $self }__subtitle {
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}

		#{ $self }__table {
			margin: 0;
			list-style: none;
			padding: 0;

			display: flex;
			flex-direction: column;
			gap: 0.1rem;
			margin-top: 1rem;

			li {
				background-color: white;
				padding: 0.5rem;

				display: flex;
				justify-content: space-between;

				span {
					font-weight: bold;
				}
			}
		}
	}
}